.preset-1 {
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-weight: bold;
}

.preset-2 {
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-weight: bold;
}

.preset-3 {
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: -0.3px;
  font-weight: bold;
}

.preset-4 {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-weight: 400;
}

.preset-5 {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-weight: 300;
}

.preset-6 {
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: -0.2px;
  font-weight: 600;
}
